.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /* border: 2px solid purple; */
  align-items: center;
  height: 100vh;
}

.social-media-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /* border: 2px solid orange; */
  min-width: fit-content;
  align-items: center;
  justify-content: space-evenly;
  
}

img {
  /* border: 3px solid red; */
  margin: auto;
  width: 80%;
  height: 30vh;
  display: block;
  
}

/* .media-card {
  overflow: hidden;
} */

.media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  font-family: 'BenchNine', sans-serif;
}

.icon {
  width: 100%;
  height: fit-content;
}

i {
  color: blue;
}

@media only screen and (max-device-width: 450px) {
  img {
    width: 95%;
  }
}


@media only screen and (min-device-width: 900px) {
  .social-media-list {
    width: 80%;
    flex-direction: row;
  }
  img {
    width: 85%;
    height: 65vh;
  }
  
  div.middle-box {
    height: 100vh;
  }
  
}


@media only screen and (max-device-width: 900px) {
  span.tooltiptext {
    background-color: transparent;
    visibility: visible;
    width: fit-content;
    color: black;
  }
  .media-card {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .down-drop > p {
    font-size: 3vh;
  }
}

@media only screen and (min-device-width: 1200px) {
  img {
    width: 50%;
  }
}



.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  /* position: absolute; */
  z-index: 1;
  font-size: var(--fs-medium);
  width: 50%;
  height: fit-content;
  white-space: nowrap;
}

.tooltip:hover + .tooltiptext {
  visibility: visible;
  width: fit-content;
  white-space: nowrap;
}

.tooltip:hover > i {
  color: red;
}